*{
	background: black;
	color: white;
	font-family: 'Quicksand', sans-serif;
}

.header{
	text-align: center;
}

.responsive{
	max-width: 100%;
	display: block;
	height: auto;
}

.footer{
	text-align: center;
}
#img-caption{
	text-align: center;
}



.title{
	text-align: left;
}

.hd-txt {
	color: red;
}

.footer-top{
	display: block;
	text-align: right;
}
